.App {
  text-align: center;
  box-sizing: border-box;
  background: black;
  width: 100%;
  height: 2000px;
  position: relative;
}

.menu-bar{
  width: 10%;
  min-width: 60px;
  max-width: 100px;
  height: 100%;
  background: rgb(0, 0, 0);
  position: fixed;
  border-right: 0.3px solid gray;
  border-left: 0.1px solid gray;
  z-index: 3;
}

.insta-logo{
  margin-top: 30px;
}

.menu-icon-container{
  margin-top: 50px;
  width: 100%;
  height: 60%;
  display: grid;
  justify-content: center;
}

.bottom-menu-icon-container{
  margin-top: 60px;
  width: 100%;
  height: 15%;
  display: grid;
  justify-content: center;
}

.dog-icon{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.main-page{
  width: 90%;
  height: 100%;
  right: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.story-container{
  margin-top: 40px;
  width: 70%;
  height: 80px;
  overflow-x:auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.story-container::-webkit-scrollbar{
  display: none;
}

.story-box{
  width: 60px;
  height: 80px;
  display: inline-block;
  margin-right: 20px;
  color: white;
  font-size: 13px;
}

.story-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: blue;
  background-size: cover;
  display: inline-block;
  border: 1px solid orange;
}

.contents-container{
  width: 55%;
  max-width: 500px;
  height: 600px;
  margin-top: 40px;
}

.profile-box{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.profile-box h4{
  margin-left: 10px;
  color: white;
}

.profile-box p{
  color: gray;
  font-size: 14px;
}

.profile-image{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-size: cover;
  margin-left: 5px;
}

.menu-box{
  flex-grow: 1;
  text-align: end;
}

.image-box{
  width: 100%;
  margin-bottom: 5px;
}

.image-box img{
  width: 100%;
  object-fit: cover;
}

.icon-box{
  width: 100%;
  height: 35px;
  display: flex;
  margin-bottom: 5px;
}

.icon-box img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.icon-box_middle{
  flex-grow: 1;
}

.icon-box_right img{
  margin-right: 0px;
}

.info-box{
  width: 100%;
  height: 165px;
  text-align: left;
  color: white;
}

.info-box_likes{
  font-weight:700;
}

.info-box>div{
  margin-bottom: 7px;
}

.info-box_writing{
  /* display: flex; */
}

.info-box_writing-content{
  font-weight: 600;
  margin-left: 10px;
}

.info-box_comment-container{
  display: flex;
  flex-direction: column; 
}

.info-box_comment-box{
  display: flex;
  flex-direction: row;
}

.info-box_name{
  font-weight: 700;
  margin-right: 10px;
}

.info-box_see{
  color: gray;
}

.info-box_write-comment{
  color: rgb(141, 141, 141);
}