body{
	width: 900px;
	margin: 0 auto;
	margin-top: 5%;
}
.messages {
	width: 500px;
	height: 400px;
	margin: auto;
	padding: 1em;
}
.message_form,
.change_name_form{
	padding: 1em;
}
.center{
	width: 600px;
	height: 700px;
}
.side{
	width: 300px;
	height: 700px;
}